<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.musicplayee">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".EditActivity"></activity>
        <activity android:name=".SelectActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".PlaylistActivity" />
        <activity android:name=".MusicActivity" />
        <activity android:name=".SongActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.JcPlayerService" />

        <receiver
            android:name=".service.notification.JcPlayerNotificationReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>